# Docker Configuration
PROJECT_NAME=Laravel
PROJECT_VERSION=1.0

# Php Configurations
PHP_DOCKERFILE=.docker/Php/

# Database Configurations
MARIADB_CONNECTION=mysql
MARIADB_HOST=host.docker.internal
MARIADB_PORT=3306
MARIADB_DATABASE=Laravel
MARIADB_USERNAME=root
MARIADB_PASSWORD=root
MARIADB_DOCKERFILE=.docker/MariaDB/

# PhpMyAdmin Configurations
PHPMYADMIN_DOCKERFILE=.docker/PhpMyAdmin/

# Project Configuration
PROJECT_REPOSITORY=